WEDDING_PASSWORD=sua_senha_aqui
GOOGLE_PROJECT_ID=
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=
GOOGLE_SHEET_TAB=RSVP_SITE
NEXT_PUBLIC_RSVP_DEADLINE=2026-09-01
NEXT_PUBLIC_SITE_URL=
DATABASE_URL=
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_WEBHOOK_SECRET=
